NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
DARAJA_CONSUMER_KEY=your_daraja_consumer_key
DARAJA_CONSUMER_SECRET=your_daraja_consumer_secret
DARAJA_SHORTCODE=your_daraja_shortcode
DARAJA_PASSKEY=your_daraja_passkey
DARAJA_CALLBACK_URL=your_daraja_callback_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
PAYSTACK_SECRET_KEY=your_paystack_secret_key
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=your_paystack_public_key

# Brevo Email Configuration
BREVO_API_KEY=your_brevo_api_key
ADMIN_EMAIL=your_admin_email
BREVO_SENDER_EMAIL=no-reply@campus-vault.com
BREVO_SENDER_NAME=Campus Vault
